/* styles.css */

.create-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-list {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list-header {
    margin-bottom: 10px;
  }
  
  .contacts {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
    /* margin-left: 300px; */
  }
  
  .contact-details {
    flex: 1;

  }
  
  .name {
    font-weight: bold;
  }
  
  .edit-button {
    background-color: #28A745;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    /* margin-right: 400px; */
  }
  /* Temel düğme stilini ayarlayın */
.create-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Düğme arka plan rengi */
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Geçiş efekti */
}

/* Düğmeye fare üzerine gelindiğinde stil değişiklikleri */
.create-button:hover {
  background-color: #1bcf1b; /* Fare üzerine gelindiğinde arka plan rengi */
}

/* Düğmeye tıklandığında stil değişiklikleri */
.create-button:active {
  background-color: #b76c21; /* Düğmeye tıklandığında arka plan rengi */
}
